.container {
  display: flex;
  justify-content: center; /* horizontally center the columns */
  align-items: center;
  /* gap: 50px; */
  /* margin: 0px 50px 0px 50px; */
}

.column {
  margin: 0px 28px; /* add some space between columns */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered {
  text-align: center;
}

.image-container {
  flex: 0 0 auto;
  margin-right: 10rem;
  margin-top: 22rem;
  float: right;
}

.image-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  /* Styles for mobile screens */
  .image-container {
    flex: 0 0 auto;
    margin-right: 5rem;
    margin-top: 25rem;
  }

  .image-container img {
    width: 200px;
    height:200px;
    object-fit: cover;
    border-radius: 50%;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* Styles for tablet screens */
  .image-container {
    flex: 0 0 auto;
    margin-right: 5rem;
    margin-top: 30rem;
  }

  .image-container img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
}